*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,body{
    height:100% ;
    background-color: #111;
    color: #fff;
}

.main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.localTime{
    width: 5.4em;
    height: 2.3em;
    background-color: orange;
    border-radius: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}