*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,body{
    background-color: #111;
    height: 100%;
    width: 100%;
    color: white;
}

svg{
    border: 1px solid red;
    width: 100vw;
    height: 80vh;
}